.flexContainerItem
  display: flex
  flex-direction: column
  justify-items: center
  align-content: center
  padding: 0.5em
  justify-content: center
  border: 1px solid #8b93b7
  border-radius: 5px

.titleGenerator
  background-color: #e2e2ea
  padding: 5px
  margin-bottom: 10px
  border-radius: 5px

.flexContainerItemGenerator
  display: flex
  flex-direction: column
  justify-content: center
  padding: 5px
  border: 1px solid #8b93b7
  border-radius: 5px
