.container
  margin-right: auto
  margin-left: auto
  max-width: 800px

.flexContainer
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  margin: 1em

.flexContainerItem
  display: flex
  justify-items: center
  align-content: center
  padding: 1em 0

.flexItemSlider
  display: flex
  flex-direction: column
  align-items: center
  border: 3px solid #282c34
  border-radius: 1em
  padding: 1em 0

.verticalLine
  top: 0
  left: 0
  position: absolute
  width: 1px
  background-color: black
  height: 200px

.boxContainer
  display: flex
  flex-direction: column
  align-items: center
  margin: 2em 2em
  padding: 1em 0
  border: 3px solid #282c34
  border-radius: 1em

.verticalText
  justify-items: center
  align-content: center
  text-align: center
  writing-mode: vertical-lr

.imgBox
  position: relative
  width: 600px
  height: 300px

  .volnovodPS
    background: center / contain no-repeat url("../img/volnovodPS.png")
    width: 698px
    height: 100%

  .shup
    background: center / contain no-repeat  url("../img/shup.png")
    z-index: 100
    top: -20px
    left: 53px
    position: absolute
    width: 169px
    height: 100%

  .plot
    z-index: 10
    width: 420px
    height: 100px
    top: 130px
    left: 85px
    position: absolute

.verticalLine
  border-radius: .2em
  top: 90px
  left: -5px
  position: absolute
  width: 10px
  background-color: black
  height: 20px

.verticalLineStatic
  top: 99px
  left: 0
  position: absolute
  width: 300px
  background-color: black
  height: 2px

.sliderBox
  z-index: 1
  width: 50%

.sliderInput
  margin: 0 1em
