.container
  margin-right: auto
  margin-left: auto
  max-width: 800px

.flexContainer
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  margin: 1em

.flexContainerItem
  padding: 1em 0

.flexItemSlider

  margin-right: auto
  margin-left: auto
  padding: 0 3em
  max-width: 30em
